#content{
    max-width: 888px;
    width: 80%;
    margin: 0 auto;
}
#imageright{
	float: right;
    max-width: 200px;
    width: auto;
    margin-left: 20px;
    border: 1px solid forestgreen;
    padding: 10px;
    border-radius: 20px;
}
#imagerightala{
    display:none;
    float: right;
    max-width: 200px;
    width: auto;
    margin-left: 20px;
    border: 1px solid forestgreen;
    padding: 10px;
    border-radius: 20px;
}
#imagerightala img{
    max-width: 100%;
    width: auto;
}
#imageright img{
    max-width: 100%;
    width: auto;
}
#imageleft{
    float: left;
	max-width: 300px;
    width: auto;
    margin-right: 40px;
    margin-bottom: 20px;
    border: 1px solid forestgreen;
    padding: 10px;
    border-radius: 20px;
}
#imageleftala{
    display:none;
    float: right;
    max-width: 200px;
    width: auto;
    margin-left: 20px;
    border: 1px solid forestgreen;
    padding: 10px;
    border-radius: 20px;
}
#imageleftala img{
    max-width: 100%;
    width: auto;
}
#imageleft img{   
	max-width: 100%;
    width: auto;
}
.kepszoveg{
	font-weight: bold;
    font-style: italic;
    text-align: center;
}
a{
    text-decoration: none;
    color: blue;
}
a:hover{
    color: red;
}
h1,h2{
    text-transform: uppercase;
    color: forestgreen;
}
sub{
    text-transform: none;
}
p,li{
    text-align: justify;
}

@media screen and (max-width: 600px) {
    #imageright{
        display: none;    
    }
    #imagerightala{
        display:block;
        float: none;
        margin: 0 auto;
    }
    #imageleft{
        display: none;
        float: none;
        margin: 0 auto;
    }
    #imageleftala{
        display: block;
        float: none;
        margin: 0 auto;
    }

}